@tailwind base;
@tailwind components;
@tailwind utilities;

._Inue-SignCom{
  min-width: 320px;
  min-height: 260px;
  background: #1C232Bff;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #5A5D7F;
  padding: 10px;
}


._Inue-SignCom input {
  margin-top: 10px;
}

._Inue-SignCom button{
  margin-top: 60px;
}

._In-home{
  width: 90%;
  margin: 20px;
}


._inText{
  text-align: center;
  align-items: center;
}

._New{
  border-radius: 16px;
}